body {
  background-image: url(Images/wallpaper-g8114e222e_1920.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  background-color: #2E4F4F;
  height: 100px;
}

.nav-item a {
  color: white;
}

.nav-item a:hover {
  color: yellow;
}

.nav-link {
  padding-top: 13px;
}

/* dropdown menu categories */
.dp-1 {
  margin-top: 12px;
  color: white;
}

.dp-1 :hover {
  color: yellow;
}

.dp-3 {
  background-color: #0E8388;
}

.dp-3:hover {
  background-color:#2E4F4F;
  color: yellow;
}
/* products & categories */

.product-image {
  max-width: 256px;
  padding: 20px;
}

.product-btn {
  margin: 25px;
  padding: 20px;
}

.products-category, .product-name, .product-price {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 15px;
}

.product-name, .product-price {
  font-size: 1rem;
}

#cart {
  margin-top: auto;
  margin-bottom: auto;
}

form .btn {
  color: white;
  border-color: white;
}

.navbar-brand img {
  max-width: 80px;
  max-height: 80px;
}

.container {
  width: 100vw;
}

.carousel {
  margin-top: 20px;
  height: 500px;
  width: 100%;
  border: solid #2C3333 5px;
  border-radius: 5px;
}

.carousel div {
  max-width: 100%;
  max-height: 100%;
}

.carousel img {
  max-width: 100%;
  max-height: 500px;
  background-color: #0E8388;
}

.row {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#categories {
  margin-top: 20px;
  height: 450px;
  background-color: #CBE4DE;
  border: solid #2C3333 5px;
  border-radius: 5px;
}

.products {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  height: 800px;
  max-width: 100%;
  background-color: #CBE4DE;
  border: solid #2C3333 5px;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
}

#itemRow1 div {
  margin-top: 20px;
  width: 100%;
  /* height: 300px; */
  background-color: #2C333395;
  color: white;
}
#itemRow2 div {
  margin-top: 20px;
  width: 100%;
  /* height: 300px; */
  background-color: #2C333395;
  color: white;
  margin-bottom: 20px;
}

footer {
  margin-top: 20px;
  background-color: #2E4F4F;
  position: relative;
  bottom: 0; 
  height: 100px;
  max-width: 100vw;
  color: white;
}

footer div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* showItem page starts */

.specific-item-contents {
  display: flex;
  justify-content: center;
}

.specific-item {
  background-color: rgb(44, 51, 51, 0.95) ;
  width: 1200px;
  margin: 80px 20px;
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 20px;
}

.specific-item-img{
  padding: 0px 50px;
}

.specific-item-img img{
  width: 512px;
  height: auto;
}

.add-to-cart {
  background-color: #2E4F4F;
  border-radius: 10px;
  box-shadow: 1px 1px 10px;
  padding: 30px;
}

.specific-item-price {
  color: white;
  font-size: 80px;
  padding-bottom: 100px;
  padding-top: 50px;
}

.add-to-cart button {
  background-color: rgb(25, 135, 84);
  border-color: rgb(42, 129, 89);
  font-size: 30px;
  width: fill;
  height: 75px;
  padding: 0px 30px;
}

.add-to-cart button:hover {
  background-color: rgb(11, 109, 65);
  border-color: rgb(22, 94, 60);
  box-shadow: 0.1px 0.1px 5px rgb(4, 58, 34);
}

.specific-item-delivery {
  padding-top: 30px;
  color: white;
}

.specific-item-info-contents {
  background-color: #2E4F4F;
  width: auto;
  height: fill;
  min-height: 300px;
  display: flex;
  align-self: center;
  margin: 0px 30px;
  border-radius: 10px;
}

.specific-item-info {
  color: white;
  font-size: 40px;
  margin: 30px;

}

/* showItem page ends */

@media screen and (max-width: 1245px) {

  /* showItem page starts */

  .specific-item {
    height: 572px;
  }

  .specific-item-img img{
    width: 41.5vw;
  }
  /* showItem page ends */

}

@media screen and (max-width: 991.5px) {

  .nav-link, .navbar-brand {
    display: none;
  }
  
  /* showItem page starts */
  .specific-item {
    width: 95vw;
    padding: 30px;
    flex-direction: column;
    align-items: center;
    height: fill;
  }

  .specific-item-img{
    padding-bottom: 50px;
  }

  .specific-item-img img{
    width: 512px;
  }

  .add-to-cart {
    padding: 0px;
    width: 90vw;
    height: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 650px;
  }
  
  .specific-item-price {
    font-size: 80px;
    padding-bottom: 0px;
    padding-top: 0px;
    padding-left: 30px;
    align-self: center;
  }

  .specific-item-buy {
    margin: 30px;
    align-self: center;
  }
  
  .add-to-cart button {
    font-size: 30px;
    width: 300px;
    height: 75px;
    padding: 0px 30px;
  }
  
  .specific-item-delivery {
    padding-top: 30px;
  }
  /* showItem page ends */

}