body {
  background-image: url(Images/wallpaper-g8114e222e_1920.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* Navbar */
.navbar {
  background-color: #2E4F4F;
  height: 100px;
}

.nav-item a {
  color: white;
  padding: 20px;
}

.nav-item a:hover {
  color: yellow;
}

.nav-link {
  padding-top: 13px;
}

#cart {
  margin-top: auto;
  margin-bottom: auto;
}

form .btn {
  color: white;
  border-color: white;
}

.navbar-brand img {
  max-width: 80px;
  max-height: 80px;
}

.container {
  width: 100vw;
}

/* Dropdown Menu Categories starts */
.dp-1 {
  margin-top: 12px;
  color: white;
}

.dp-1 :hover {
  color: yellow;
}

.dp-3 {
  background-color: #0E8388;
}

.dp-3:hover {
  background-color:#2E4F4F;
  color: yellow;
}
/* Dropdown Menu Categories ends */

/* Products & Categories starts here */
.products-cm {
  background-color: #282f2ff2 ;
  max-width: 500px;
  margin: 80px 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-radius: 20px;
}

.product-name-link {
  text-decoration: none;
  color: #f8f8f8;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
}

.product-image {
  object-fit: contain;
  padding: 20px;
  width: 100%;
  height: 256px;
}

.card {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #505050cc;
  border-radius: 15px;
}

.product-btn {
  display: block;
  max-width: 250px;
  text-align: center;
  margin: 25px;
  margin-left: auto;
  margin-right: auto;
  background-color: #198754;
  border-color: #2a8159;
  font-size: 1.5rem;
  height: 50px;
  padding: 0px 30px;
  margin-top: 45px;
  padding-left: 8px;
  padding-right: 8px;
}

.card-text {
  margin-top: 10px;
}

.product-btn:hover {
  background-color: rgb(11, 109, 65);
  border-color: rgb(22, 94, 60);
  box-shadow: 0.1px 0.1px 5px rgb(4, 58, 34);
}

.products-category, .product-name, .product-price {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 15px;
}

.product-price {
  font-size: 1.25rem;
}
/* Products & Categories ends here */

/* Information page starts here */
.information-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.col-md-6.col-lg-3.mb-4 {
  display: flex;
  justify-content: center;
  padding: 0 15px;
  flex-basis: 50%;
  max-width: 50%;
}

.card-text-columns {
  display: flex;
  flex-direction: column;
}

.card-text {
  margin-bottom: 0.5rem;
  font-family: Arial, Helvetica, sans-serif;
}

.card-title {
  color:#0051a8;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.card-info {
  box-sizing: border-box;
  background-color: #d5d5d5;
  width: 100%;
  font-size: 1.1rem;
  word-wrap: break-word;
  overflow-wrap: break-word;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
/* Information page ends here */

/* Categories buttons starts here */
#categories {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.category-button {
  display: flex;
  flex-direction: column;
  color: #2f2f2f;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  background-color: #aebbff;
  border: none;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  min-width: 150px;
}

.category-button-icon {
  margin-bottom: 10px;
}

.category-button:hover {
  background-color: #64b1ff;
}

.category-button span {
  margin-left: 10px;
}
/* Categories buttons ends here */

/* Feedback form starts here */
.feedback-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  background-color: #4f4f4ff2;
  padding: 20px;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 20px;
}

.feedback-form h3 {
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
}

.feedback-label {
  margin: 10px 0;
  color: #fff;
  font-size: 1.1rem;
  font-family: Arial, Helvetica, sans-serif;
}

.feedback-input,
.feedback-textarea {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1.2rem;
}

.feedback-input:focus,
.feedback-textarea:focus {
  outline: none;
  border-color: #6aaff9;
}

.feedback-textarea {
  min-height: 200px;
  resize: vertical;
}

.feedback-submit {
  max-width: 200px;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px 20px;
  background-color: #72deff;
  color: #525252;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.feedback-submit:hover {
  background-color: #1483fa;
  box-shadow: 0.1px 0.1px 5px rgb(0, 13, 28);
}
/* Feedback form ends here */

/*Special Carousel starts */
.carousel {
  margin-top: 20px;
  min-height: 290px;
  width: 100%;
  border: solid #2C3333 5px;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
}

.carousel-item {
  transition: 2.3s ease-in-out;
}

.carousel-fade .carousel-item {
  transition: 2.6s;
}

.carousel div {
  max-width: 100%;
  max-height: 100%;
}

.carousel img {
  max-width: 100%;
  max-height: 600px;
  background-color: #0E8388;
  margin-left: auto;
  margin-right: auto;
}

#sale-image {
  max-height: 150px;
  max-width: 250px;
  padding-top: 20px;
}

#discount-carousel {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  height: 660px;
  max-width: 100%;
  background-color: #CBE4DE;
  border: solid #2C3333 5px;
  border-radius: 20px;
  padding:10px;
}

#discountRow {
  margin-top: 20px;
  width: 100%;
  background-color: #2C333395;
  color: white;
  margin-bottom: 20px;
  border-radius: 20px;
  padding: 20px;
}

#discountRow .item-carousel {
  background-color: #2C333395;
  border-radius: 20px;
}

.original-price {
  color: white;
  font-weight: lighter;
  text-decoration: line-through;
}

.lowered-price {
  color: red;
  text-decoration: underline;
}

.item-carousel {
  margin-right: auto;
  margin-left: auto;
  padding:20px;
}

.item-carousel img {
  max-height: 200px;
}

.item-carousel img, p {
  margin-right: auto;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  justify-content: center;
}

.item-carousel p {
  text-align: center;
  word-wrap: break-word;
  padding: 5px;
}

.discount-link {
  text-decoration: none;
  color: white;
}

.discount-link:hover {
  color: yellow;
}

.item-carousel button {
  display: flex;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  background-color: green;
  border-color: green;
}

.row {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#categories {
  margin-top: 20px;
  height: 250px;
  background-color: #CBE4DE;
  border: solid #2C3333 5px;
  border-radius: 5px;
}

.products {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  height: 1100px;
  max-width: 100%;
  background-color: #CBE4DE;
  border: solid #2C3333 5px;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
}

#itemRow1 div {
  margin-top: 20px;
  width: 100%;
  background-color: #2C333395;
  color: white;
  margin-bottom: 20px;
  border-radius: 20px;
}

#itemRow1 li {
  margin-right: 20px;
}

#itemRow2 div {
  margin-top: 20px;
  width: 100%;
  background-color: #2C333395;
  color: white;
  margin-bottom: 20px;
  border-radius: 20px;
}

.product-link {
  text-decoration: none;
  color: white;
}

.product-link:hover {
  color: yellow;
}

#itemRow2 li {
  margin-right: 20px;
}

footer {
  margin-top: 20px;
  background-color: #2E4F4F;
  position: relative;
  bottom: 0; 
  height: 100px;
  max-width: 100vw;
  color: white;
}

footer div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* showItem page starts */

.specific-item-contents {
  display: flex;
  justify-content: center;
}

.specific-item {
  background-color: rgb(44, 51, 51, 0.95) ;
  width: 1200px;
  margin: 80px 20px;
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 20px;
}

.specific-item-img{
  padding: 0px 50px;
}

.specific-item-img img{
  width: 512px;
  height: auto;
}

.add-to-cart {
  background-color: #2E4F4F;
  border-radius: 10px;
  box-shadow: 1px 1px 10px;
  padding: 30px;
}

.specific-item-price {
  color: white;
  font-size: 80px;
  padding-bottom: 100px;
  padding-top: 50px;
}

.cart-item-count {
  position: absolute;
  top: 10px;
  right: 235px;
  background-color: rgb(2, 112, 255);
  color: white;
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
  padding: 2px 5px;
  border-radius: 50%;
}

.add-to-cart button {
  background-color: rgb(25, 135, 84);
  border-color: rgb(42, 129, 89);
  font-size: 30px;
  width: fill;
  height: 75px;
  padding: 0px 30px;
}

.add-to-cart button:hover {
  background-color: rgb(11, 109, 65);
  border-color: rgb(22, 94, 60);
  box-shadow: 0.1px 0.1px 5px rgb(4, 58, 34);
}

.specific-item-delivery {
  padding-top: 30px;
  color: white;
}

.specific-item-info-contents {
  background-color: #2E4F4F;
  width: auto;
  height: fill;
  min-height: 300px;
  display: flex;
  align-self: center;
  margin: 0px 30px;
  border-radius: 10px;
}

.specific-item-info {
  color: white;
  font-size: 40px;
  margin: 30px;

}

/* shopping cart starts */

.cart-main {
  background-color: rgb(44, 51, 51, 0.95) ;
  display: flex;
  flex-direction: column;
  margin: auto 40px;
  margin-top: 80px;
  margin-bottom: 80px;
  justify-content: center;
  padding: 30px;
  border-radius: 20px;
  color: white;
  min-height: 65vh;

}

.cart-table {
  color: white;
}

.cart-table a {
  color: rgb(255, 53, 53);
  font-size: 25px;
}

.cart-table a:hover {
  color: rgb(94, 0, 0);
}

.order-button {
  background-color: rgb(25, 135, 84);
  border-color: rgb(42, 129, 89);
  margin-top: 20px;
}

.order-button:hover {
  background-color: rgb(11, 109, 65);
  border-color: rgb(22, 94, 60);
  box-shadow: 0.1px 0.1px 5px rgb(4, 58, 34);
}
/* shopping cart ends */


/* Admin page starts */

.admin-contents {
  display: flex;
  align-content: center;
  background-color: rgb(44, 51, 51, 0.95) ;
  width: 1200px;
  margin: 80px 20px;
  padding: 30px;
  justify-content: space-between;
  border-radius: 20px;
  color: white;
}

.admin-table {
  color: white;
}

.category-list {
  max-height: 100px;
}
/*Admin page ends */
@media screen and (max-width: 1245px) {

  /* showItem page starts */

  .specific-item {
    height: 572px;
  }

  .specific-item-img img{
    width: 41.5vw;
  }
  /* showItem page ends */
}

@media screen and (max-width: 991.5px) {

  .nav-link, .navbar-brand {
    display: none;
  }
  /* showItem page starts */
  .specific-item {
    width: 95vw;
    padding: 30px;
    flex-direction: column;
    align-items: center;
    height: fill;
  }

  .specific-item-img{
    padding-bottom: 50px;
  }

  .specific-item-img img{
    width: 512px;
  }

  .add-to-cart {
    padding: 0px;
    width: 90vw;
    height: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 650px;
  }
  
  .specific-item-price {
    font-size: 80px;
    padding-bottom: 0px;
    padding-top: 0px;
    padding-left: 30px;
    align-self: center;
  }

  .specific-item-buy {
    margin: 30px;
    align-self: center;
  }
  
  .add-to-cart button {
    font-size: 30px;
    width: 300px;
    height: 75px;
    padding: 0px 30px;
  }
  
  .specific-item-delivery {
    padding-top: 30px;
  }
  /* showItem page ends */
  #categories {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .category-button {
  min-width: auto;
  padding: 8px 16px;
  overflow: hidden;
  white-space:pre-wrap;
  text-overflow: ellipsis;
  }

  .product-btn {
    font-size: 1rem;
    padding: 0px 20px;
    height: 50px;
  }

  .card {
    padding: 10px;
    margin: 5px;
  }
  
}

@media only screen and (max-width: 1230px) {
  .carousel {
    display: none;
  }

  #categories {
    overflow: scroll;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}